html {
    background-color: black;
    overflow-y: hidden;
    user-select: none; /* supported by Chrome and Opera */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
}

.carousel-item {
    background-color: black;
}

.carousel-item img{
    margin: auto;
    margin-top: 35px;
    width: 500px;
}

.carousel-item .card {
    margin: auto;
    margin-top: 58px
}

.card {
    width: 550px;
}

.row .flagIcon {
    margin-top: 0;
    width: 30px;
}
